body {
    background-color: black;
    color: white;
}

em {
    color: yellow;
}

h1 {
    color: blue;
    font-family: Georgia;
}
a {
    color: orange;
}
h2 {
    color: green;
    font-family: "Courier New";
}

img.MoodImg {
    height: 150px;
    width: 150px;
}

p {
    text-align: left;
    font-size: 3vw;
    font-weight: bold;
}