div#divTitle {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background-color: rgba(138, 188, 159, 1);
    font-family: Georgia;
    align-content: center;
}
.head {
    font-size: 34px;
	padding:14px;
}
/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
} */

.menu {
    float: left;
	display: block;
	width:120px;
	padding:24px;
	text-align: center;
	text-decoration: none;
}
.menu:hover + .drop-down{  
    background-color:#EEE; 
    display: block;
}
.drop-down{
	display: none;
}


div#divMain {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

div#divCol {
    display: flex;
    flex-direction: column;
    /* flex:1; */
    margin: 1em;
    width: 50%
}

div#divGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    /* flex:1; */
    margin: 1em;
}

div#divBottom {
    text-align: center;
}

p {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
}

#divBottom {
    background-color: lightskyblue;
}

input[type="submit"], input[type="reset"] {
    margin: 5px;
    color: white;
    font-size: 16px;
    background-color: rgba(138, 188, 159, 1);
}

input[type="text"], textarea, select {
    margin: 10px;
}

label {
    font-weight: bolder;
    margin: 10px;
}

.important {
    color: red;
}